html {
  font-family: 'roboto', sans-serif;
  h1 h2 h3 h4 h5 {
    font-family: 'Shrikhand', sans-serif;
  }
  a {
      text-decoration: none;
  }
}
body {
  margin: 0;
}
.btn {
  border-radius: 30px;
  border: 0px;
  padding: 15px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 50px;
  margin-top: 10px;
  color: white;
  background: linear-gradient($color);
  @include body-shadow;
  transition: opacity 1s;
  &:hover {
    opacity: 0.8;
    @include body-shadow2;
  }
}
.background {
  background-color: black;
}
.loading {
  &::after {
    content: '';
    animation: spin 2s;
    animation-fill-mode: forwards;
    border: 10px solid $grey4;
    border-top: 10px solid $pink;
    border-bottom: 10px solid $violet;
    border-left: 10px solid $pink;
    border-right: 10px solid $violet;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: auto;
    position: fixed;
    top: 0px; left: 0px; right: 0px; bottom: 0px;
  }
  &::before {
      animation: spin2 2s;
      animation-fill-mode: forwards;
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: black;
      opacity: 0.5;
  }
}
.new {
  display: none !important;
}
/*keyframes*/
@keyframes spin {
  0%{
    transform: rotate(0deg);
    opacity: 1;
  }
  99% {
    z-index: 3;
  }
  100%{
    transform: rotate(360deg);
    opacity: 0;
    display: none;
    z-index: -1;
  }
}
@keyframes spin2 {
  0%{
    transform: rotate(0deg);
    opacity: 1;
  }
  99% {
    z-index: 2;
  }
  100%{
    transform: inherit;
    opacity: 0;
    display: none;
    z-index: -1;
  }
}
@keyframes valide {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}