$white: #fff;
$black: rgba(0, 0, 0, 0.801);
$grey: #b6b1b12e;
$grey2: #e7e4e4;
$grey3: #f2f2f2;
$grey4: #b6b1b12e;
$grey5: #C0C0C0;
$color: (90deg, #9356dc, #ff79da);
$violet: #9356dc;
$violet2: #f6edf9;
$pink: #FF79DA;
$blue: #99E2D0;