/* HEADER */
.logohome {
    display: flex;
    justify-content: center;
    border: 1px solid transparent;
    box-shadow: 0 0 16px $grey;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: $grey;

    @media (min-width: 1200px) {
        padding: 20px;
        box-shadow: 0 0 16px $grey4;
    }
    img {
        width: 50%;
    }
}
.loca {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $grey2;
    background-color: $grey2;
    .logoloca {
        border: 1px solid $grey2;
        border-radius: 10px 0 0 10px;
        background-color: $grey2;
        width: 1%;
        text-align: center;
        margin-right: 20px;
    }
}
.exploration {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: $grey3;
    .btn:hover {
        opacity: 0,8;
    }
    p {
        color: grey;
        margin-right: 19px;
        margin-left: 19px;
    }
    h1 {
        margin-left: 50px;
        margin-right: 55px;
    }
}
.fontmarg {
    margin-left: 3%;
    margin-top: 40px;
}
.desktop {
    margin: 0px;

    @media (min-width: 1200px) {
        display: flex;
        flex-wrap: wrap;
    }
}
.flexfon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .fas {
        color: grey;
    }
    div:hover {
        background-color: $violet2;
        .fas {
            color: $violet;
        }
    }
    .fonction {
        display: flex;
        border: 1px solid $grey3;
        width: 81%;
        border-radius: 20px;
        padding-left: 10px;
        margin-bottom: 15px;
        margin-left: 30px;
        margin-right: 15px;
        margin-top: 20px;
        justify-content: center;
        background-color: $grey;
        padding-top: 20px;
        padding-bottom: 20px;
        @include body-shadow;

        @media (min-width: 768px) {
            padding: 20px;
        }
        @media (min-width: 1200px) {
            width: 25%;
        }
        .number {
            background-color: $violet;
            color: white;
            position: absolute;
            margin-right: 88%;
            padding: 3px 8px 3px 8px;
            border-radius: 500px;

            @media (min-width: 1200px) {
                margin-right: 28%;
            }
        }
        .number2 {
            background-color: $violet;
            color: white;
            position: absolute;
            margin-right: 88%;
            padding: 3px 8px 3px 8px;
            border-radius: 500px;

            @media (min-width: 1200px) {
                margin-right: 28%;
            }
        }
        .list, .store, .mobile {
            margin-right: 20px;
        }
    }
}
.mobile {
    margin-right: 20px;
}
#flex {
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 50px;
    margin-top: 40px;
    background-color: $grey;
    padding-top: 10px;
    .flexborder {
        flex: 100% 0 0;
        @media (min-width: 1200px){
            flex: 48%;
            margin: 10px;
        }

        .border {
            background-color: $white;
            border: 1px solid $white;
            border-radius: 20px;
            margin-right: 3%;
            margin-left: 3%;
            margin-bottom: 20px;
            @include body-shadow;
            @media (min-width: 1200px){
                width: 100%;
                margin: 1%;
            }
            .img {
                width: 100%;
                height: 210px;
                border-top-right-radius: 20px;
                border-top-left-radius: 20px;
                object-fit: cover;
            }
            .new {
                background-color: #99e2d0;
                color: #1b6150;
                padding: 5px;
                border-radius: 5px;
                position: absolute;
                margin-left: 250px;
                h2 {
                    margin: 1px;
                    padding: 0px;
                    font-size: 15px;
                    font-weight: 400;
                    margin-left: 7px;
                    margin-right: 7px;
                }
            }
            .color {
                display: flex;
                justify-content: space-between;
                text-decoration: none;
                color: $black;
                margin-left: 10px;
                .justify {
                    flex: 60%;
                    h3 {
                    margin-bottom: 5px;
                    margin-top: 10px;
                    color: black;
                    }
                    p {
                    margin-top: 0px;
                    color: black;
                    }
                }
                .heart {
                    position: relative;
                    width: 50px;
                    height: 50px;
                    .fa-heart {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        font-size: 22px;
                        margin: 0 !important;
                        transition: opacity 1s;
                        cursor: pointer;
                    }
                    .fas {
                        background: linear-gradient(to bottom left, #9356DC, #FF79DA);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        opacity: 0;
                    }
                    &:hover {
                        .fas {
                            opacity: 1;
                        }
                        .far {
                            opacity: 0;
                        }
                    }
                }
            }
        }
    }
}
/* FOOTER */
.footer {
    background-color: $black;
    padding-bottom: 20px;
    h4 {
        color: white;
        margin-left: 20px;
        margin-top: 0px;
        padding-top: 20px;
        font-family: shrikhand;
        font-size: 20px;
    }
    ul  {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-left: 0px;
        font-size: 14px;
        font-weight: 800;

        @media (min-width: 768px) {
            flex-direction: row;
            justify-content: space-evenly;
        }
        li {
            margin-left: 20px;
            margin-bottom: 10px;
            a {
                color: $white;
                text-decoration: none;
            }
        }
    }
}
@media (min-width: 1200px) {
    .desktop {
        display: flex;
        flex-wrap: wrap;
    }
}